@media screen and (max-width: 1096px) {
  .cardsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .cardsWrapper {
    padding: 0 1rem;
  }
  .singleCard .image {
    width: 100%;
    height: 21.75rem;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 11px;
  }
}
