:root {
  --yellow: #ffc758;
  --blue: #114a8d;
  --black: #1c1c1c;
}

@font-face {
  font-family: 'GothamBook';
  src: url(../fonts/GothamBook.woff);
}
@font-face {
  font-family: 'Shape';
  src: url(../fonts/Shape-SemiBold.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Shape', sans-serif;
}

p {
  font-family: 'GothamBook', sans-serif;
}

section#whyChooseUs {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1024px;
  margin: 0rem auto;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

h1.title {
  color: var(--black);
  font-family: Shape;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.09rem;
}

h1.title span {
  color: var(--blue);
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.singleCard {
  position: relative;
}

.singleCard .image {
  width: 32.528rem;
  height: 21.75rem;
}

.singleCard .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.singleCard .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9.063rem;
  display: flex;
  justify-content: center;
  align-items: end;
  background: linear-gradient(
    181deg,
    #00000000 -9.3%,
    #00000096 48.1%,
    #000000 99.41%
  );
  border-radius: 0 0 0.5rem 0.5rem;
}

.singleCard .title p {
  color: #ffffff;
  text-align: center;
  font-family: 'Shape';
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 1.375rem;
  line-height: 110%;
  letter-spacing: -0.053rem;
  transition: 0.4s;
}

.singleCard .title p span {
  color: var(--yellow);
}

.singleCard:hover .title p {
  transform: translateY(-1.5rem);
  opacity: 0;
  visibility: hidden;
}

.singleCard .hoverContent {
  position: absolute;
  top: 0;
}
